@import '/src/styles/utilities/colors';

.card .card-button {
  position: absolute;
  top: 15%;
  box-shadow: none;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  z-index: 998 !important;
}

.card-button:hover {
  background: rgba($blue-light, 0.3) !important;
}
.card .card-button.right {
  right: 0%;
}
.react-stacked-center-carousel {
  margin: 20px 0;
  padding-bottom: 70rem;

  @media (max-width: 500px) {
    padding-bottom: 80rem;
  }
}

.card-card {
  transition: all 300ms ease;
  cursor: pointer;
  width: 100%;
  //border-radius: 15px;
  height: 365px;
  //height: auto;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05);

  /*  @media (min-width: 1200px) {
    height: 450px;
  } */
}

.card-card:hover {
  transform: scale(1.05);
}

.react-stacked-center-carousel-slide-0 .card-card {
  cursor: default;
}

.react-stacked-center-carousel-slide-0 .card-card:hover {
  transform: none;
}

.fill {
  width: 100%;
  height: 100%;
}

.card-card .card-overlay {
  user-select: none;
  position: absolute;
  background-color: #00000099;
  transition: all 300ms ease;
  //border-radius: 15px;
}

.card-card:hover .card-overlay {
  background-color: #0000002d;
}

.react-stacked-center-carousel-slide-0 .card-overlay {
  background-color: #00000099 !important;
}

.card-card .cover-image {
  object-fit: cover;
  height: -webkit-fill-available;
}

.card-card .cover {
  position: absolute;
  transition: opacity 300ms ease;
}
.react-stacked-center-carousel-slide-0 .card-card .cover {
  transition: opacity 300ms ease, z-index 0ms 300ms;
}

.card-card .cover.on {
  opacity: 1;
  z-index: 1;
}

.card-card .cover.off {
  opacity: 0;
  z-index: -1;
}

.card-card .detail {
  display: flex;
}
.card-card .video {
  width: 20%;
}
.card-card .discription {
  display: flex;
  //flex-direction: column;
  //margin: 10px;
  width: 100%;
  position: relative;
  text-align: center;
  color: $white;
  overflow: visible !important;
}

.carousel-motto--visible {
  padding: 1rem 5rem;
  background-color: $blue-light;
  color: $white;
  text-align: center;
  overflow: visible !important;
  cursor: pointer;

  @media (min-width: 768px) {
    padding: 2rem;
  }
}

.carousel-text--visible {
  padding: 1rem 5rem;
  background-color: $white;
  color: $black;
  text-align: center;
  overflow: visible !important;

  @media (min-width: 768px) {
    padding: 2rem;
  }
}

.card {
  border: none !important;
}
.carousel-layout {
  margin-top: 1rem;
  margin-bottom: 0rem;

  @media (min-width: 1400px) {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.none {
  display: none;
}
.carousel-title {
  position: absolute;
  top: 3rem;
  left: 7rem;
  font-weight: 700;
  font-size: x-large;
  cursor: pointer;

  @media (min-width: 425px) {
    top: 3rem;
    left: 4rem;
    font-weight: 700;
    font-size: xx-large;
  }

  @media (min-width: 768px) {
    top: 3rem;
    left: 3rem;
    font-weight: 700;
    font-size: xx-large;
  }
}
.divider {
  background-color: $white;
  min-height: 2rem;
  width: auto;
}
.slide-description {
  margin-left: 3rem;
  margin-right: 3rem;

  @media (min-width: 425px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.winemakers-contact {
  flex-direction: column !important;

  @media (min-width: 500px) {
    flex-direction: row !important;
  }
}
