@import '/src/styles/utilities/colors';

.card .card-button {
  position: absolute;
  top: 15%;
  box-shadow: none;
  border-radius: 5px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  z-index: 998 !important;
}

.card-button:hover {
  background: rgba($blue-light, 0.3) !important;
}
.card .card-button.right {
  right: 0%;
}
.react-stacked-center-carousel {
  margin: 20px 0;
}

.card-card {
  transition: all 300ms ease;
  cursor: pointer;
  width: 100%;
  //border-radius: 15px;
  height: 365px;
  //height: auto;
  position: relative;
  background-color: transparent;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2), 0 0 4px rgba(0, 0, 0, 0.05);

  /*  @media (min-width: 1200px) {
    height: 450px;
  } */
}
.card-card--wineries {
  height: 330px !important;
}

.card-card:hover {
  transform: scale(1.05);
}

.react-stacked-center-carousel-slide-0 .card-card {
  cursor: default;
}

.react-stacked-center-carousel-slide-0 .card-card:hover {
  transform: none;
}

.fill {
  width: 100%;
  height: 100%;
}

.card-card .card-overlay {
  user-select: none;
  position: absolute;
  background-color: transparent;
  transition: all 300ms ease;
  //border-radius: 15px;
}

.card-card:hover .card-overlay {
  background-color: #0000002d;
}

.react-stacked-center-carousel-slide-0 .card-overlay {
  background-color: #00000099 !important;
}

.card-card .cover-image {
  object-fit: cover;
  height: -webkit-fill-available;
}

.card-card .cover-image--fit {
  object-fit: contain;
  height: -webkit-fill-available;
  background-color: $white;

  @media (min-width: 768px) {
    object-fit: cover;
  }
}

.card-card .cover {
  position: absolute;
  transition: opacity 300ms ease;
}
.react-stacked-center-carousel-slide-0 .card-card .cover {
  transition: opacity 300ms ease, z-index 0ms 300ms;
}

.card-card .cover.on {
  opacity: 1;
  z-index: 1;
}

.card-card .cover.off {
  opacity: 0;
  z-index: -1;
}

.card-card .detail {
  display: flex;
}
.card-card .video {
  width: 20%;
}
.card-card .discription {
  display: flex;
  //flex-direction: column;
  //margin: 10px;
  width: 100%;
  position: relative;
  text-align: center;
  color: $white;
  overflow: visible !important;
}
.card-card-bottle {
  height: 380px !important;
}
.cover-image--fitBottle {
  object-fit: contain !important;
}

.carousel-motto--visible {
  padding: 1rem 2rem;
  background-color: $white;
  color: $blue-light;
  text-align: center;
  overflow: visible !important;
  cursor: pointer;
  margin-left: 6rem;
  margin-right: 6rem;

  @media (min-width: 425px) {
    padding: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  @media (min-width: 768px) {
    padding: 1.5rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.carousel-specification--visible {
  background-color: transparent;
  color: $white;
  text-align: center;
  overflow: visible !important;
  cursor: pointer;
}

.carousel-specification--name {
  position: absolute;
  bottom: 1rem;
  right: 6rem;
  color: $white;
  width: 5.5rem;
  height: auto;
  margin: 1rem;

  @media (min-width: 375px) {
    bottom: 0.5rem;
    right: 5rem;
  }

  @media (min-width: 425px) {
    right: 4rem;
  }

  @media (min-width: 768px) {
    right: 2rem;
  }
  @media (min-width: 1200px) {
    bottom: 1rem;
  }
  /* text-align: end;
  padding: 0.2rem 8rem 1rem 1rem;

  @media (min-width: 375px) {
    padding-right: 6rem;
  }

  @media (min-width: 425px) {
    padding-right: 4rem;
  } */
}
.carousel-specification--wine {
  color: $white !important;
  padding: 0 !important;
}

.carousel-text--visible {
  padding: 2rem 5rem;
  background-color: transparent;
  color: $white;
  text-align: center;
  overflow: visible !important;

  @media (min-width: 768px) {
    padding: 3rem;
  }
}
.carousel-contact--visible {
  padding: 5rem 2rem 0 2rem;
  background-color: transparent;
  color: $blue-light;
  text-align: center;
  overflow: visible !important;

  @media (min-width: 768px) {
    padding-top: 3rem;
  }
}
.carousel-contact--visibleButton {
  padding-top: 1rem;
}

.card {
  border: none !important;
}
.carousel-layout {
  margin-top: 1rem;
  margin-bottom: 0rem;

  @media (min-width: 1400px) {
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
}
.none {
  display: none;
}
.carousel-title {
  position: absolute;
  top: 3rem;
  left: 7rem;
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;

  @media (min-width: 425px) {
    left: 5rem;
    font-size: 24px;
  }

  @media (min-width: 768px) {
    left: 3rem;
  }
}
.carousel-title--right {
  position: absolute;
  top: 3rem;
  right: -6rem;
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;
  display: flex;
  flex-direction: column;

  @media (min-width: 425px) {
    right: -10rem;
    font-size: 24px;
  }

  @media (min-width: 768px) {
    right: -14rem;
  }
}
.carousel-titleLarge {
  position: absolute;
  top: 5rem;
  right: 7.5rem;
  font-weight: 700;
  font-size: 22px;
  cursor: pointer;

  @media (min-width: 425px) {
    right: 5rem;
    font-size: 24px;
  }

  @media (min-width: 768px) {
    right: 4rem;
  }
}

.carousel-subtitle {
  position: absolute;
  top: 1rem;
  left: 7rem;
  font-weight: 400;
  font-size: x-large;

  @media (min-width: 425px) {
    left: 5rem;
  }
  @media (min-width: 768px) {
    left: 3rem;
  }
}
.carousel-subtitle--right {
  position: absolute;
  top: 1rem;
  right: -6rem;
  font-weight: 400;
  font-size: 22px;

  @media (min-width: 425px) {
    right: -10rem;
  }
  @media (min-width: 768px) {
    right: -14rem;
  }
}
.divider {
  background-color: $blue-light;
  min-height: 2rem;
  width: auto;
}
.slide-description {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: -4rem;

  @media (min-width: 425px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
.slide-description--wines {
  margin-left: 0rem;
  margin-right: 0rem;
}

.winemakers-contact {
  flex-direction: column !important;
  background-color: transparent !important;

  @media (min-width: 768px) {
    flex-direction: row !important;
  }
}
.slide-varieties {
  padding-bottom: 2rem;
}

.slide-wineries {
  margin: 20px 0 0 0;
  padding-bottom: 70rem;
  background: linear-gradient(
    to bottom,
    transparent 20%,
    $blue-light 20% 67%,
    transparent 20%
  );

  @media (min-width: 500px) {
    padding-bottom: 70rem;
  }
}

.slide-wines {
  margin: 20px 0 0 0;
  padding-bottom: 75em;
  //background: linear-gradient(to bottom, transparent 35%, $blue-light 0%);

  @media (min-width: 768px) {
    padding-bottom: 65rem;
  }
}
.card-button--varieties {
  top: 45% !important;
}
.card-button--wines {
  top: 20% !important;
  background: linear-gradient(
    to bottom,
    transparent 26%,
    $blue-light 20% 49%,
    transparent 20%
  );
  @media (min-width: 768px) {
    top: 23% !important;
    background: linear-gradient(
      to bottom,
      transparent 26%,
      $blue-light 20% 58%,
      transparent 20%
    );
  }
}

.card-card--high {
  height: 500px;

  @media (min-width: 768px) {
    height: 728px;
  }
}
.MuiSvgIcon-root {
  background-color: white !important;
  width: 36px !important;
  height: 36px !important;
  color: $blue-light !important;
}

.specification--text {
  padding: 5rem 7.5rem;
  color: $blue-light !important;

  @media (min-width: 768px) {
    padding: 4rem 2rem 2rem 4rem;
  }
}
