.contact-section {
  display: flex;
  flex-direction: column;
}

.contact-subsection {
  display: flex;
  flex-direction: column;
  color: $blue-light;

  @media (min-width: 576px) {
    flex-direction: row;
    justify-content: space-around;
  }
}
.contact-subsection-part {
  padding-left: 2rem;
  padding-right: 2rem;

  @media (min-width: 1200px) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (min-width: 1400px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
.contact-subsection--bottom {
  font-size: small;

  @media (min-width: 768px) {
    font-size: inherit;
  }
}

.contact-photo {
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2rem;

  @media (min-width: 760px) {
    width: 90vw;
  }
  @media (min-width: 1200px) {
    width: 70vw;
  }
  @media (min-width: 1400px) {
    width: 50vw;
  }
}

.photo-style {
  background-size: cover;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: flex !important;

  @media (min-width: 768px) {
    min-height: unset;
  }
}
.contact-info {
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.contact-logo-vino-z-cejkovic {
  display: flex;
  background-image: url('../../assets/images/logo_vzc_color.png');
  width: 80px;
  height: 130px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin: auto;
  background-size: contain;
  @media (min-width: 768px) {
    width: 75px;
    height: 95px;
  }
}
.contact-logo-terroir {
  display: flex;
  background-image: url('../../assets/images/logo-vertical2.png');
  width: 75px;
  height: 150px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  margin: auto;
  @media (min-width: 768px) {
    width: 80px;
    height: 122px;
  }
}
