.container__navigation {
  display: flex;
  justify-content: space-between;
  width: 100vw !important;

  @media (min-width: 768px) {
    flex-direction: column;
    max-width: 90vw;
    margin: auto;
  }
  @media (min-width: 992px) {
    max-width: 80vw;
  }
}
