.logo {
  display: flex;
  background-image: url('../../assets/images/logo-horizontal.jpg');
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  margin-left: 10px;

  @media (min-width: 768px) {
    background-image: url('../../assets/images/logo-vertical.jpg');
    justify-content: center;
    height: 70px;
    width: 70px;
  }

  @media (min-width: 992px) {
    height: 100px;
    width: 100px;
  }
  @media (min-width: 1400px) {
    height: 120px;
    width: 120px;
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}
