@import '/src/styles/variables/colors.scss';

.logo-terroir {
  display: flex;
  background-image: url('../../assets/images/logo-horizontal.jpg');
  width: 70px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  margin-left: 10px;

  @media (min-width: 768px) {
    background-image: url('../../assets/images/logo-vertical2.jpg');
    justify-content: center;
    height: 84px;
    // width: 70px;
    border-radius: 0 0 10px 10px;
  }

  @media (min-width: 992px) {
    height: 100px;
    width: 84px;
  }
  @media (min-width: 1400px) {
    height: 120px;
    width: 100px;
  }
}

.logo__container {
  display: flex;
  justify-content: center;
}

.logo-vino-z-cejkovic {
  display: flex;
  background-image: url('../../assets/images/logo_vzc.png');
  width: 70px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  margin: auto;
}

.logo-wines {
  position: absolute;
  bottom: 2rem;
  left: 6rem;
  color: $black;
  width: 5.5rem;
  height: auto;
  margin: 1rem;

  @media (min-width: 375px) {
    bottom: 3rem;
    left: 5rem;
  }

  @media (min-width: 425px) {
    bottom: 3rem;
    left: 4rem;
  }

  @media (min-width: 768px) {
    bottom: 3rem;
    left: 3rem;
  }

  &--bigger {
    width: 12rem;

    @media (max-width: 767px) {
      margin: 3rem 1rem;
    }
  }

  &--smaller {
    width: 4.5rem;
    position: absolute;
    bottom: 3rem;
    left: 6rem;
  }
}

.logo-winery {
  color: $black;
  width: 7rem;
  height: auto;
  margin: 1rem;

  &--bigger {
    width: 12rem;

    @media (max-width: 767px) {
      margin: 3rem 1rem;
    }
  }

  &--smaller {
    width: 4.5rem;
  }
}
