.navbar-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: var(--bs-nav-link-font-size);
  font-weight: var(--bs-nav-link-font-weight);
  color: white;
  text-decoration: none;
  background: none;
  border: 0;
  margin: 0.3rem;
  padding-bottom: 1rem;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.navbar-links {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
  }

  @media (min-width: 992px) {
    max-width: 80%;
  }

  @media (min-width: 1200px) {
    max-width: 70%;
  }

  @media (min-width: 1400px) {
    max-width: 50%;
  }
}

// menu icons

@media (max-width: 767.98px) {
  .navbar-slider {
    position: fixed;
    min-width: 100%;
    height: 80vh; //40vh
    background-color: transparent;
    transition: 0.35s ease;
    top: -100%;
    left: 50%;

    &.active {
      top: 0;
      left: 50%;
      height: auto;
      transition: 0.45s ease-out;
    }
  }

  .menu-icon .menu {
    display: block;
    flex-direction: column;
    font-size: 45px;
    cursor: pointer;
  }

  .menu-icon--none {
    display: none;
  }

  .menu-closed {
    display: flex;
    justify-content: flex-end;
    width: 50%;

    &.close {
      display: block;
      cursor: pointer;
      font-size: 50px;
    }
  }
}

@media (min-width: 768px) {
  .menu-icon {
    display: none;
  }
  .menu-icon--none {
    display: none;
  }
  .menu-closed {
    display: none;

    &.close {
      display: none;
    }
  }
}
