$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
//max-width: map-get($container-max-widths, lg);

//custom scrollbar

::-webkit-scrollbar {
  width: 0.5rem;
  height: 100%;
}

::-webkit-scrollbar-track {
  background: #ccc;
}

::-webkit-scrollbar-thumb {
  background: $blue-light;
  border-radius: 4px;
}
