@import '/src/styles/components/navbar.scss';
@import '/src/styles/components/logo.scss';
@import '/src/styles/base/container.scss';
@import '/src/styles/variables/colors.scss';
@import '/src/styles/base/button.scss';
@import '/src/styles/utilities/colors';
@import '/src/styles/variables/layout.scss';
@import '/src/styles/components/hero.scss';
@import '/src/styles/base/img.scss';
@import '/src/styles/base/link.scss';
@import '/src/styles/components/modal.scss';

@font-face {
  font-family: 'PhosphateSolid';
  src: local('PhosphateSolid'),
    url('./assets/fonts/PhosphateSolid.ttf') format('truetype');
  //font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTPro-Regular';
  src: local('AvenirNextLTPro-Regular'),
    url('./assets/fonts/AvenirNextLTPro-Regular.otf') format('opentype');
  font-style: normal;
}

html {
  box-sizing: border-box;
  font-size: 16.5px;
  font-family: 'AvenirNextLTPro-Regular', sans-serif;
  font-style: normal;
  line-height: 1.8em;
  min-width: 100%;
  min-height: 100%;
  letter-spacing: 0.02em;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font-family: 'AvenirNextLTPro-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $white !important;
  background-color: $white !important;
}
h1 {
  font-family: 'PhosphateSolid', sans-serif !important;
  //font-size: 100pt !important;
}
h2 {
  font-family: 'PhosphateSolid', sans-serif !important;
  // font-size: 80pt !important;
}
/* p {
  font-size: 60pt;
} */

article,
aside,
footer,
header,
hgroup,
main,
nav,
section,
h3,
h4,
h5,
h6,
p,
div input,
button,
select,
textarea {
  font-family: 'AvenirNextLTPro-Regular', sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@import '../node_modules/bootstrap/scss/bootstrap.scss';
