.btn--primary {
  background-color: $white;
  color: $blue-light;
  padding: 10px;
  outline: auto;
}
.btn--secondary {
  background-color: red;
  color: $blue-light;
  padding: 10px;
  outline: auto;
}
