//@import '/src/styles/variables/colors.scss';
@import '/src/styles/utilities/colors';
@import 'src/styles/mixins/fonts';

.container__content {
  /* background-color: $blue-light; */
  max-width: 100%;
  text-align: center;
  padding: 0 2rem;
  padding-top: 40px;
  margin: 0 auto;

  @media (min-width: 768px) {
    max-width: 90%;
    padding-top: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (min-width: 992px) {
    max-width: 80%;
    padding-top: 25px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media (min-width: 1200px) {
    max-width: 70%;
    padding-top: 30px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  @media (min-width: 1400px) {
    max-width: 50%;
    padding-top: 40px;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  &--mobile {
    background-image: url('../../assets/images/hero-smLow.webp');
    background-position: 50% 75%;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    overflow: hidden;

    &--overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}
.container-content--columns {
  max-width: 100%;

  @media (min-width: 768px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  @media (min-width: 1200px) {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  @media (min-width: 1400px) {
    max-width: 70%;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.container__navigation {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  @media (min-width: 768px) {
    flex-direction: column;
  }
}

.container-footer {
  background-color: $blue-light;
  width: 100vw;
  padding: 2rem;
  text-align: center;
  @include font-size-14;
}

.footer-section {
  color: $white;
  @media (min-width: 1400px) {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 70%;
  }
}

.footer-subsection {
  @media (min-width: 500px) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (min-width: 700px) {
    justify-content: space-evenly;
  }
}

.container--dark {
  background-color: $blue-light;
  color: $white;
  padding-bottom: 3rem;
  border: 5px solid $blue-light;
}
