//@import '/src/styles/variables/colors.scss';
@import '/src/styles/utilities/colors';

.container__content {
  background-color: $blue-light;
  max-width: 100%;

  text-align: center;
  padding: 2rem;

  @media (min-width: 768px) {
    max-width: 90%;
    margin: 20px auto 0 auto;
  }
  @media (min-width: 992px) {
    max-width: 80%;
  }
  @media (min-width: 1200px) {
    max-width: 70%;
    margin-top: 30px;
  }
  @media (min-width: 1400px) {
    max-width: 50%;
    margin-top: 40px;
  }

  &:nth-child(even) {
    background-color: $white;
    color: black;
    margin-top: 20px;
  }

  &--mobile {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../../assets/images/hero-sm.jpg');
    background-position: 25% 75%;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    overflow: hidden;

    &--overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.container__navigation {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  @media (min-width: 768px) {
    flex-direction: column;
  }
}
