//@import '/src/styles/variables/colors.scss';
@import '/src/styles/utilities/colors';
@import 'src/styles/mixins/fonts';

.container__content {
  /* background-color: $blue-light; */
  max-width: 100%;
  color: $black;
  text-align: center;
  padding: 0 2rem;
  margin: 40px auto 0 auto;

  @media (min-width: 768px) {
    max-width: 90%;
    margin: 20px auto 0 auto;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (min-width: 992px) {
    max-width: 80%;
    margin-top: 25px;
    padding-left: 4rem;
    padding-right: 4rem;
  }
  @media (min-width: 1200px) {
    max-width: 70%;
    margin-top: 30px;
    padding-left: 6rem;
    padding-right: 6rem;
  }
  @media (min-width: 1400px) {
    max-width: 50%;
    margin-top: 40px;
    padding-left: 10rem;
    padding-right: 10rem;
  }

  &--mobile {
    background-image: url('../../assets/images/hero-smLow.webp');
    background-position: 50% 75%;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    overflow: hidden;

    &--overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}

.container__navigation {
  display: flex;
  justify-content: space-between;
  width: 100vw;

  @media (min-width: 768px) {
    flex-direction: column;
  }
}

.container-footer {
  background-color: $blue-light;
  width: 100vw;
  padding: 2rem;
  text-align: center;
  @include font-size-14;
}

.footer-subsection {
  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

/* .container__carousel {
  max-width: 100%;

  text-align: center;
  padding: 2rem;

  /* @media (min-width: 1200px) {
    max-width: 70%;
    margin-top: 30px;
    padding-left: 6rem;
    padding-right: 6rem;
  } */
/* @media (min-width: 1400px) {
    max-width: 50%;
    margin-top: 40px;
    padding-left: 10rem;
    padding-right: 10rem;
  }
} */
