.icon-facebook {
  background-image: url('../../assets/images/facebook.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 50px;
  background-position: 50% 50%;
  background-size: contain;
  margin: auto;
}

.icon-instagram {
  background-image: url('../../assets/images/instagram.png');
  background-repeat: no-repeat;
  width: 30px;
  height: 50px;
  background-position: 50% 50%;
  background-size: contain;
  margin: auto;
}
