/* .img-style {
  background-image: url('../../assets/images/vineyard.jpg');
  background-position: 50% 0%;
  max-height: 100%;
  width: 100%;
  background-size: cover;
  position: relative;
  object-fit: cover;
  overflow: hidden;

  @media (min-width: 768px) {
    max-width: 90%;
  }
  @media (min-width: 992px) {
    max-width: 80%;
  }
  @media (min-width: 1200px) {
    max-width: 70%;
  }
  @media (min-width: 1400px) {
    max-width: 50%;
  }
}
.img-wrapper {
  width: 100vw;
  height: 70vh;
} */

.img-style {
  background-position: 50% 0%;
  min-height: 70vh;
  width: 100vw;
  background-size: cover;
  position: relative;
  object-fit: cover;
  overflow: hidden;

  @media (min-width: 768px) {
    max-width: 90%;
  }
  @media (min-width: 992px) {
    max-width: 80%;
  }
  @media (min-width: 1200px) {
    max-width: 70%;
  }
  @media (min-width: 1400px) {
    max-width: 50%;
  }
}
