.link {
  text-decoration: none;
  color: $white;

  &:hover {
    text-decoration: underline;
  }
}

.link-dark {
  text-decoration: none;
  color: $blue-light !important;

  &:hover {
    text-decoration: underline;
  }
}
